.personalInfo {
    height: 16em;
    border-top: 1px solid rgba(106, 105, 105, 0.733);
}
.myDetailsDiv  {
    height: 50em !important;
}
.accWindow {
    align-self: flex-start;
}
.personalInfo small {
    font-size: 0.7em;
    color: var(--fontColor2);
    line-height: 1.8em;
}
.accPage{
    gap: 0em;
    div.leftSideBarToggle {
        align-self: start;
    }
} 
.login {
    display: inline-block;
    width: 100%;
    background-color: rgba(85, 106, 224, 0.938);
    margin: 0em auto;
    color: rgb(238, 236, 236);
}
.buyNow, .cart{
    padding: 0.4em;
    border: none;
    outline: none;
}
.buyNow {
    border: 1px solid rgb(2, 59, 109);
    border-radius: 1.5em;
    font-size: small;
}

.buyNow:hover {
    background-color: rgb(2, 59, 109);
    cursor: pointer;
    color: white;


}
.saveBtn {
    background-color: var(--bgColor1);
    padding: 0.5em 1em;
    color: white;
    border: none;
    border-radius: 0.2em;
}
.saveBtn:hover {
    background-color: var(--bgColor2);
    cursor: pointer;
}
.cart {
    width: 20%;
    color: black;
    display: flex;
    height: 100%;
}
.cart:hover {
    svg {
        fill: rgb(86, 86, 86) !important;
        cursor: pointer;
    }
}
.solid {
    background-color: var(--bgColor3);
    padding: 0.5em 1em;
    font-size: 1.1em;
    color: white;
    border-radius: 2em;
    border: none;
}
.solid:hover {
    background-color: var(--bgColor2);
    cursor: pointer;
}


.personalInfo {
    small {
        width: 40% !important;
    }
}