html {
    margin: 0;
    padding: 0;
}

body, div#root {
    padding: 0em;
    margin: 0em;
    background-color: var(--white1);
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    --fontColor1: rgb(32, 32, 32);
    --fontColor2: rgba(55, 55, 55, 0.933);
    --white1: rgb(244, 242, 242);
    --bgColor1: rgb(3, 143, 231);
    --bgColor2: rgba(2, 106, 181, 0.741);
    --bgColor3: rgb(2,59,109);
}

a {
    text-decoration: none;
    color: var(--fontColor1);
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex-col-wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: start;
}

.align-self-end {
    align-self: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-3 {
    padding: 3em;
}

.p-0-1 {
    padding: 0em 1em;
}

.p-0-2 {
    padding: 0em 2em;
}

.p-0-3 {
    padding: 0em 3em;
}

.p-1-0 {
    padding: 1em 0em;
}

.p-2-0 {
    padding: 2em 0em;
}

.p-3-0 {
    padding: 3em 0em;
}

.m-0 {
    margin: 0em;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.m-3 {
    margin: 3em;
}

.m-0-1 {
    margin: 0em 1em;
}

.m-0-2 {
    margin: 0em 2em;
}

.m-0-3 {
    margin: 0em 3em;
}

.m-1-0 {
    margin: 1em 0em;
}

.m-2-0 {
    margin: 2em 0em;
}

.m-3-0 {
    margin: 3em 0em;
}

.color-w {
    color: white;
}

.deco-none {
    text-decoration: none;
}

.p-abs {
    position: absolute;
}

.p-rel {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}

.gap-3 {
    gap: 3em;
}

.l-style-none {
    list-style: none;
}

.border-1 {
    border: 1px solid black;
}

.border-2 {
    border: 2px solid black;
}

.border-3 {
    border: 3px solid black;
}

.d-block {
    display: block !important;
}

.mainHeading {
    font-size: 3em;
    color: var(--fontColor1);
    background-color: var(--bgColor2);
    padding: 0.5em;
    margin: 0%;
    width: 100%;
}

.d-none {
    display: none;
}

.left-0 {
    left: 0px !important;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu,
.close:hover {
    fill: rgb(107, 106, 106);
    cursor: pointer;
}

.iconLink {
    svg {
        fill: var(--fontColor2);
    }
}

.active p {
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(164, 163, 163);
}

@media (max-width: 900px)  {
    .productsLibrary, .productWindow, .accPage {
        margin-bottom: 40em !important;
    }

}
@media (max-width: 850px) {

    /* #sideBar {
        display: block;
    } */
    h1 {
        font-size: 1.5em !important;
    }

    header ul.links {
        display: none;
    }

    .heroImages {
        display: none;
    }

    .heroSect h1 {
        font-size: 2em !important;
        align-items: start;
    }

    .heroSect {
        padding: 0em 0em 0em 1em !important;
        justify-content: start;
    }

    .categories {
        box-sizing: border-box;
    }

    .productsLibrary {
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 600px) {
    div.leftSideBarToggle {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .categories {
        flex-flow: column wrap;
        justify-content: space-around;

        .CategoryCard {
            width: 80%;
        }
    }

    .categories .Tech,
    .Jewelry,
    .Fashion {
        margin: 0% !important;
    }

    .myAcc {
        gap: 0em !important;
    }

    .myAcc .iconLink {
        padding: 0.2em;

        .loginLink {
            display: none;
        }
    }

    .LeftSideBar {
        position: fixed;
        top: 0;
        left: -13em;
        z-index: 999;
        background-color: var(--bgColor1);
        padding: 1em;
        width: 13em !important;
    }

    header .myAcc div.leftSideBarToggle {
        padding: 0 !important;
        width: 24px !important;
        display: inline-block;
    }

    .accWindow {
        margin: 0em;
    }
}


@media (max-width: 600px) {
    .cardVertical {
        width: 45% !important;
        margin: 0.1em 0.3em 3em 0.3em !important;
        height: max-content !important;
        gap: 0.5em;
    }

    .personalInfo {
        flex-flow: column-reverse;
        height: 20em !important;

        small {
            width: 100% !important;
        }
    }

    .dashBoardContent {
        width: 90%;
        margin: 1em auto;
    }
}

@media (max-width: 500px) {
    * {
        box-sizing: border-box !important;
    }

    .cardVertical .btns .buyNow {
        font-size: 0.5em;
        height: 100% !important;
        align-self: center;
    }

    header {
        padding: 0em 0.4em !important;
    }

    .myAcc .iconLink {
        margin: 0.5em 0.2em;
    }
}
@media (max-width: 400px)  {
    .productsLibrary, .productWindow, .accPage  {
        margin-bottom: 70em !important;
    }
}


@media (max-width: 300px) {
    footer ul li a {
        font-size: 0.7em;
    }
}