.buyNow, .cart{
    padding: 0.4em;
    border: none;
    outline: none;
}
.buyNow {
    border: 1px solid rgb(2, 59, 109);
    border-radius: 1.5em;
}

.buyNow:hover {
    background-color: rgb(2, 59, 109);
    cursor: pointer;
    color: white;


}
.cart {
    width: 20%;
    color: black;
    display: flex;
    height: 100%;
}
.cart:hover {
    svg {
        fill: rgb(86, 86, 86) !important;
        cursor: pointer;
    }
}
