.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    color: var(--fontColor1);
}

.heroSect {
    height: 25em;
    width: 100%;
    /* background-image: linear-gradient(to bottom, var(--bgColor1) , var(--white1) 80%); */

    img {
        width: 50%;
    }

    /* background-image: url(../../assets/images/image1.png);
    background-position: 38em;
    background-repeat: no-repeat;
    background-size: contain; */
}

.heroSect h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}


.heroSect h1 {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--fontColor1);
}

.links a:hover {
    color: var(--fontColor1);
    text-shadow: 0px 4px 4px rgba(158, 197, 255, 0.727);
}

.myAcc {
    gap: 4px;
}

.iconLink {
    color: rgb(42, 41, 41);
    width: max-content;
    box-sizing: border-box !important;
    gap: 2px;
    padding: 0em 0.6em;

    p.loginLink {
        color: var(--fontColor1) !important;
        line-height: 1em;
        margin: 0;
        font-size: 0.9em;
        font-family: sans-serif;
    }

    svg {
        fill: var(--fontColor1);
        height: 1.2em;
        align-self: end;
    }
}
.iconLink:hover {
    cursor: pointer;
    p.loginLink {
        color: var(--fontColor2) !important;
    }
    svg {
        fill: var(--fontColor2) !important;
    }
}