
footer {
    background-color: rgb(2, 59, 109);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    * {
        text-align: center;
    }
}
footer h1.logo {
    margin: 1em 0em 0em 0em;
    color: white !important;
}