footer {
    background-color: rgb(2, 59, 109);
    width: 100%;
    margin-top: 1em;
    height: 24em;
    * {
        color: white;
    } 
    li {
        font-size: 0.9em;
    }
}
footer h1.logo {
    color: white !important;
}
.footerLogos {
    width: 95%;
    margin: 0em auto;
    height: 8em;
}
.logos {
    width: 25%;
    height: 10em;
    gap: 0.2em;
    img {
        max-width: 80%;
        max-height: 100%;
    }
}
.navPills {
    width: 20%;
    height: 100%;
    padding: 1em 0em;
    small {
        width: 100%;
        color: white;
        text-align: left !important;
    }
}
.mainPill {
    width: 25% !important;
}
.mediaIcons {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: yellow;
}
@media (max-width: 900px) {
    footer {
        flex-flow: column wrap !important;
        justify-content: space-around !important;
        align-items: start !important;
        height: 45em;
    }

    .navPills  {
        width: 40% !important;
        height: 20em;
        align-items: start;
        flex-flow: column nowrap;
        gap: 0em;
        margin: auto;
    }
}
@media (max-width: 400px)  {
    .logos {
        width: 40%;
    }
    .footerLogos {
        height: 24em;
    }
    footer {
        height: 75em;
        gap: 0em  !important;
        justify-content: start !important;
    }
     .navPills  {
        width: 80% !important;
        margin: 0em auto;
        height: 18em;
        padding: 0em;
    }
}