.productWindow {
    height: 50em;
    margin-bottom: 10em;
}

.imgContainer {
    height: 100% !important;
    width: 100% !important;
    border: 1px solid rgb(140, 140, 140);
    padding: 1em;
    box-sizing: border-box;
}

.mainProductData {
    display: flex;
    flex-direction: row;
    height: 70%;
}


.mainProductData .imgContainer img {
    width: 20em;
    aspect-ratio: 1/1 !important;
}

.productInfo {
    height: 100% !important;
}

.productMainDetails {
    p {
        font-size: 0.8em;
        color: var(--fontColor1);
    }

    b {
        font-size: 1.2em;
        font-weight: 800;
    }

    small {
        font-size: 0.7em;
        color: var(--fontColor2);
    }
}

@media (max-width: 750px) {
    .productWindow {
        height: 80em;
    }

    .mainProductData {
        flex-flow: column wrap;
        height: 100%;
    }

    .mainProductData .imgContainer {
        height: auto !important;
        width: 100% !important;
        aspect-ratio: 1/1 !important; 
        img {
            width: 70% !important;
        }
    }

    .productInfo {
        height: 40% !important;
        .solid {
            font-size: 0.9em;
        }
    }
}
@media (max-width: 350px) {
      .mainProductData {
        flex-flow: column nowrap;
        height: 100%;
    }


    .productInfo {
        height: 80% !important;
        h1 {
            font-size: 1.2em !important;
        }
        p {
            font-size: 0.8em;

        }
        .solid {
            font-size: 0.6em;
        }
    }
    .productWindow {
        height: 60em;
    }
}